@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.eot') format('eot');
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway/Raleway-SemiBold.eot') format('eot');
  src: url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff');
  src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2');
  src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}
